body {
  background: lightgoldenrodyellow;
}
.main {
  margin: 40px auto auto 50px;
}
.done {
  text-decoration: line-through;
}

.not-done {
  color: red;
}

li {
  cursor: pointer;
  font-size: 20px;
}
li:hover {
  color:orange;
}

.search {
  margin-left: 20px;
  width: 45%;
  border: 2px solid brown;
}
input.search:focus {
  outline: none;
}

.chckBox {
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: brown;

}